@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  box-sizing: content-box;
  font-size: 15px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 340px;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}
.card img {
  border-radius: 10px;
}
.card .img-title {
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
.card .img-smallText {
  font-size: 14px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}